.registration-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.registration-field input {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.registration-field input:focus {
  border:3px solid #333;
}

.registration-field label:after {
  content: ":";
}
